.export {
    font-size: 30px;
    display: inline;
}

.export .icon {
    height: 30px;
}

.export a {
    text-decoration: none;
    font-weight: lighter;
}

.export a:link, .export a:visited {
    /* Applies to all links */
    color: blue;
}

.export a:hover {
    /* Applies to links under the pointer */
    color: mediumblue;
}

.export a:active {
    /* Applies to activated links */
    color: darkblue;
}