.File {
    padding-left: 20px;
    padding-top: 12px;

    font-size: 50px;
}

.File .icon {
    height: 50px;
}

.File a {
    text-decoration: none;
    font-weight: lighter;
}

.File a:link, .File a:visited {
    /* Applies to all unvisited links */
    color: blue;
}

.File a:hover {
    /* Applies to links under the pointer */
    color: mediumblue;
}

.File a:active {
    /* Applies to activated links */
    color: darkblue;
}