.File {
    padding-left: 20px;
    padding-top: 12px;

    font-size: 50px;
}

.File .icon {
    height: 50px;
}

.File a {
    text-decoration: none;
    font-weight: lighter;
}

.File a:link, .File a:visited {
    /* Applies to all links */
    color: #39adff;
}

.File a:hover {
    /* Applies to links under the pointer */
    color: #136ccd;
}

.File a:active {
    /* Applies to activated links */
    color: rgba(11, 32, 255, 0.86);
}

.File .delIcon {
    height: 20px;
}